//
 * --------------------------------
 * Sass Framework - Compass
 * Sass Library
 * 	= Bourbon
 * --------------------------------
@import bourbon
@import compass

// .test
// 	margin: 0

// =opacity($opacity)
// 	+for-legacy-browser("ie", "8", $threshold: $opacity-usage-threshold)
// 		@if $opacity == 1
// 			filter: unquote("progid:DXImageTransform.Microsoft.Alpha(enabled=false)")
// 		@else
// 			filter: unquote("progid:DXImageTransform.Microsoft.Alpha(Opacity=#{round($opacity * 100)})")
 
// 	opacity: $opacity

// .test-image
// 	+opacity(0.5)

//
 * --------------------------------
 * Compass 스프라이트 이미지 자동 생성
 * --------------------------------
@import 'sprites/*.png'

// +all-sprites-sprites

$icons-list: icon-bag, icon-ball, icon-btn-drag, icon-bus, icon-cart-bag

@each $icon-name in $icons-list
	.#{$icon-name}
		+sprites-sprite($icon-name)
		width: sprites-sprite-width($icon-name)
		height: sprites-sprite-height($icon-name)
		// 폴더명 넣고 높이와 넓이값

.icon-bag
	+position(fixed, 200px 200px null null)

