<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		title Document
		link(rel="stylesheet", href="css/style.css")
	body
		#page
			//- : 으로 한줄 인라인 사용 가능.
			header: h1#indurge indurge

			nav#navigation.cf
				#global-menu
					ul.cf
						li: a(href="").active Focus
						li: a(href="") Carnel Pleasures
						li: a(href="") Hobby Horse
						li: a(href="") Product &amp; Service
						li: a(href="") Interest
				// 끝:#global-menu

				#side-menu
					ul.cf
						li: a(href="") Search
						li: a(href="") Checkout
				// 끝:#side-menu
			//끝: nav

			//- 콜투액션
			#cta
				p.slogan
					|Focus On<br>
					strong your deep dream of a summer<br> night in the dark heart
				a(href="", role="button") deep dive
			//끝: #cta


//- <!DOCTYPE html>
//- // jade Syntax
//- //- jade Syntax 2
//- html(lang="ko-KR")
//- head
//- 	meta( http-equiv="X-UA-Compatible", content="IE=Edge" )
//- 	meta( charset="UTF-8")
//- 	title Jade2HTML
//- 	link( rel="stylesheet", href="css/style.css" )
//- body
//- 	h1 Jade is <strong>Node.js</strong> Template Engine.
//- 	h1
//- 		| Jade is
//- 		strong Node.js
//- 		| Template Engine.

//- footer
//- 	h3 in footer.
