extends part/_page_template

//- 덮어 쓰기를 하려면 append를 해야 한다.
//- append를 하게 되면 이걸 불러온 다음에 밑에쪽에 변수를 추가한 것과 같다.
//- 그래서 덮어 쓰기가 된것.
append settings

	- var page_title       = '★ Jade & Sass Project ★'
	- var isMain           = true
	- var current_page     = '/'
	- var using_jquery     = true
	- var using_angular    = false
	- var meta_description = 'Good Days Main Page - Have a Good Time :-)'
	- var meta_keywords    = 'Front-End, Web, Design, Development'

	- var body_classlist   = ['index']
	- var greeting         = 'Good Days! ^▽^'
	- var server_module    = 'BrowserSync'


