extends part/_page_template

block main
	//- a11y-hidden
	//- a.readable-content(href="/") hi, there

	//- main
	//- 	p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
	//- 	p Hic, maiores quas ad rem accusamus vel facere?
	//- 	p Tempore voluptatum quia accusamus. Aspernatur quibusdam, dolor cum.
	//- 	p Ratione eum explicabo voluptates omnis eligendi quibusdam quasi.
	//- 	p Temporibus dolores, iusto aliquid assumenda porro officia sequi.
	//- 	p Perferendis itaque amet, aspernatur facere hic, nisi blanditiis!
	//- 	p Iure dolore nobis possimus incidunt unde id repudiandae.
	//- 	p Inventore, itaque aspernatur, iusto tempore vero adipisci laudantium.

	.icon-bus
	.icon-ball
	.icon-btn-drag
	.icon-cart-bag
	.icon-bag